.App{
  background-color:   #EAECEE   ;
  margin-bottom: 30px;
 padding-top: 30px;
}
.card{
 background-color: white;
 width:350px;
 margin: 20px 20px;
 padding: 20px 0px;
}
.buttons{
  display: flex;
  justify-content: space-around;
  margin: 20px 30px;
  padding: 0 20px;
}



button{
  width: 80px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 50px;
  background-color: rgb(8, 184, 81);
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
}

button:hover{
  border: none;
  /* padding: 15px; */
  border-radius: 15px;
  background-color: #8ABF80 ;
  /* box-shadow: inset 0 0 8px #f9f8fc; */
  } 
  .list-user{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
  }
  .cardInfo {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    background-color: white;
    margin: 30px 40% ;
    padding-top: 20px;

  }
  
  .cardInfo:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }


